<ion-header [translucent]="true" mode="ios">
  <ion-toolbar class="ion-no-margin" >
    <h1 style="text-align: center; color: var(--ion-color-primary); font-size: 8vw;">Star Wars Databank</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >

<ion-row>
  <ion-col size="0" sizeMd="3">

  </ion-col>
  <ion-col size="12" sizeMd="6" sizeLg="6">
    <ion-card mode="ios">
      <ion-card-subtitle class="ion-margin ion-text-center">
         <span class="text-primary" style="font-size: 5vw;">STAR WARS DATABANK</span>
         <span class="article-source-name"></span>
      </ion-card-subtitle>
      <ion-card-title class="ion-padding-horizontal ion-margin-bottom">

      </ion-card-title>
      <ion-img src="/assets/eras-169_c9428175.jpg"></ion-img>
      <ion-img src="/assets/OqK2.gif"></ion-img>
      <ion-card-content

      >
      <p style="font-size: 24px; text-align: center; color: var(--ion-color-primary);">Query characters, androids, ships, and much more...</p>
    </ion-card-content>
  </ion-card>

</ion-col>
</ion-row>


<ion-fab slot="fixed" vertical="bottom" horizontal="start" >
  <app-button-sound></app-button-sound>
</ion-fab>

</ion-content>




