<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-size: 3.8vw;">
      <div style="display: flex;justify-content: center; align-items: center; gap: 10px;">
        <ion-icon slot="start" color="primary" name="star"></ion-icon>
        <span style="color: var(--ion-color-primary); font-size: 8vw;">Favoritos</span>
      </div>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <div style="display: flex;justify-content: center; align-items: center; gap: 10px;">
        <ion-icon slot="start" color="primary" name="star"></ion-icon>
        <span style="color: var(--ion-color-primary); font-size: 8vw;">Favoritos</span>
      </div>

      <ion-title color="primary" class="ion-text-center" size="large" style="font-size: 8vw;">

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [characters]="favoriteCards"></app-articles>
</ion-content>
