<ion-card mode="ios">
  <ion-card-subtitle class="ion-margin">

    <ion-row>
      <ion-col size="10">
        <div style="height: 100%; display: flex; align-items: center;">
          <span class="text-primary">{{ i }}. </span>
          <span class="article-source-name">{{ character.name }}</span>
        </div>
      </ion-col>

      <ion-col size="2">
        <div style="height: 100%;">
          <ion-button (click)="onOpenMenu()" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-card-subtitle>

  <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
    {{ character.name }}
  </ion-card-title>
  <app-little-spinner *ngIf="!imageLoaded"></app-little-spinner>

    <img
       [src]="character.image"
       (load)="imageLoaded = true"

    />


  <ion-card-content
   *ngIf="character.description"
  >
    <p>{{ character.description }}</p>
  </ion-card-content>
</ion-card>
