<ion-card mode="ios">
  <ion-card-subtitle class="ion-margin">
     <span class="text-primary">{{ i }}. </span>
     <span class="article-source-name">{{ character.name }}</span>
  </ion-card-subtitle>
  <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
    {{ character.name }}
  </ion-card-title>
  <app-little-spinner *ngIf="!imageLoaded"></app-little-spinner>

    <img
       [src]="character.image"
       (load)="imageLoaded = true"

    />


  <ion-card-content
   *ngIf="character.description"
  >
    <p>{{ character.description }}</p>
  </ion-card-content>
</ion-card>
