/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.text-primary {
  color: var(--ion-color-primary)
}

.article-source-name{
  font-size: 12px;
}

.my-class .alert-wrapper{
  border: 1px solid var(--ion-color-primary)!important;
  border-radius: 10px;
  box-shadow: 10px 10px 12px black;
}

.my-class .alert-wrapper h2{
  text-align: center;
}


.my-class-danger .alert-wrapper{
  border: 1px solid var(--ion-color-primary)!important;
  border-radius: 10px;
  box-shadow: 10px 10px 12px black;
}

.my-class-danger .alert-wrapper h2{
  color: red!important;
  text-align: center;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  min-width: 250px;
  margin: 15px;
  padding: 10px 0px;
  display:flex;
  align-items: center;
  justify-content: space-around;

  background-color:gray;
  border-radius: 12px;
}

.spinner-scroll{
  text-align: center;
  margin: 10px auto 50px auto;
  padding: 20px;
  border-radius: 12px;
  border:1px solid gray;
  box-shadow: 4px 4px 10px rgb(44, 43, 43);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
